

body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
  font-size: 16px;
  margin: 0;
  background: #EEEEEE;
}

article:hover, button:hover, .add:hover, .minus:hover {
  cursor: pointer;
}

p {
  color: #aaaaaa;
  font-size: 12px;
}

#interface {
  padding: 70px 0px;
}

#interface-review {
  padding-top: 70px;
}

button {
  border: none;
  height: 50px;
  width: calc(100% - 40px);
  border-radius: 50px;
  padding: 0px;
  font-size: 20px;
  line-height: 1;
  outline: none;
}

.price, .show, .data-order div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section, article, .data-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add, .minus, main h1, .revise {
  font-size: 22px;
}

main h1, .revise > h1, header h1 {
  font-family: 'Righteous', cursive;
}

main img, article, .data-order {
  border-radius: 10px;
}

h2, .minus, .revise h1, .revise button  {
  font-weight: 700;
}

.disabled-link {
  pointer-events: none;
}

.interface {
  padding: 70px 0px;
}
